<div class="{{block}}__increasecard increasecard">
   <div class="increasecard__header">
    <div class="increasecard__title1">avg 70% increase</div>
    <div class="increasecard__title2">Defeat Your Competetors</div>
   </div>
   <div class="increasecard__grid">
    <div class="increasecard__label">Sales</div>
    <div class="increasecard__bar increasecard__bar_danger"></div>
    <div class="increasecard__check increasecard__check_warning"></div>
    <div class="increasecard__label">Strategy</div>
    <div class="increasecard__bar increasecard__bar_info"></div>
    <div class="increasecard__check increasecard__check_success"></div>
    <div class="increasecard__label">Margin</div>
    <div class="increasecard__bar increasecard__bar_success"></div>
    <div class="increasecard__check increasecard__check_info"></div>
    <div class="increasecard__label">Growth</div>
    <div class="increasecard__bar increasecard__bar_warning"></div>
    <div class="increasecard__check increasecard__check_danger"></div>
   </div>
</div>