<div class="sales">
  <div class="container sales__container">
      <div class="sales__image">
        <img src="assets/sales.svg" class="sales__image-bg" alt="">  
      </div>
      <div class="sales__content">
        <div class="sales__title">We Do Comparisons
            To Improve Companies Sales
        </div>
        <div class="sales__text">
          <p>Study last 5 years or more data and make weekly monthly and 6 months comparison </p>
          <p>After 3 weeks of comparison we assure 20% more sale which includes managements of according company</p>
          <p>Run a sprint to design alternate whole few plans which will help to get 150% revineu</p>
        </div>
        <div class="sales__btn btn">
          LEARN MORE
        </div>
      </div>
  </div>
</div>