.sales {
  // .sales__container
  margin-bottom: 140px;
  &__container {
    display: flex;
  }

  // .sales__image

  &__image {
    width: 50%;
    position: relative;
  }
  &__image-bg {
    width: 100%;
    transform: translateX(-20%);
  }
  &__image-person {
    position: absolute;
    top: 50%;
    left: 0;
    width: 67%;
    transform: translateY(-50%);
  }
  // .sales__content

  &__content {
    width: 50%;
  }

  // .sales__title

  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 58px;
    color: var(--dark);
    margin-bottom: 17px;
  }

  // .sales__text

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--text-color);
    p:not(:last-child) {
      margin-bottom: 20px;
    }
    margin-bottom: 40px;
  }

  // .sales__btn

  &__btn {
  }

  @media(max-width:725px){
    &__container {
      flex-direction: column-reverse;
    }
    &__image {
      width:80%
       
    }
    &__image-bg {
      transform:unset;
      margin: 0 auto;
    }
    &__content {
      width: 100%;
    }
  }
}
