.header {
  &__container {
    padding-top: 40px !important;
    padding-bottom: 16px !important;
    border-bottom: 1px solid var(--gray);
  }
  &__wrapper {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 80px;
  }
  &__logo {
  }
  &__btn {
    margin-left: 192px;
  }
  &__menu {
    margin-left: auto;
  }
  @media(max-width:938px){
    &__wrapper {
      margin: 0 ;
      justify-content: space-between;
    }
    &__btn {
      margin-left: 0;
    }
    &__menu {
      margin-left: 0;
    }
  }
  @media(max-width:670px){
   
    &__btn {
      display: none;
    } 
  }
}
.container {
}
.logo {
}
