<header class="header">
  <div class="container header__container">
    <div class="header__wrapper">
      {{>../ui/logo/index.handlebars block="header"}}  
      {{>../ui/menu/index.handlebars block="header"}}  
      {{>../ui/button/index.handlebars block="header" text="CONTACT" color="secondary"}}  
    </div>
     
  </div>
</header>