.steps {
  margin-bottom: 140px;
 
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
  &__step{
    margin: 10px;
     
  }
  @media (max-width: 1200px) {
    &__container {
      justify-content: space-around;
    }
  }
}
 
