<footer class="footer">
  <div class="container footer__container">
    <div class="footer__col">
      {{>../ui/logo/index.handlebars block="footer" color="white"}}  
      <div class="footer__about">
        Our motto is to help business to grow beyond your thought in 2021
        standard
      </div>
      <div class="footer__contacts">
        <div class="footer__phone">+990 2894 383</div>
        <div class="footer__address">12/34 Hasenburg, Germany</div>
      </div>
    </div>
    <div class="footer__col">
      <div class="footer__col-title">Company</div>
      <div class="footer__col-link">Programs</div>
      <div class="footer__col-link">Features</div>
      <div class="footer__col-link">Pakeges</div>
      <div class="footer__col-link">Terms</div>
      <div class="footer__col-link">Conditions</div>
    </div>
    <div class="footer__col">
      <div class="footer__col-title">Solution</div>
      <div class="footer__col-link">Workshops</div>
      <div class="footer__col-link">Trainings</div>
      <div class="footer__col-link">Bootcamps</div>
      <div class="footer__col-link">Meetups</div>
    </div>
    <div class="footer__col">
      <div class="footer__col-title">Contact</div>
      <div class="footer__col-link">
        <span class="icon-"></span>
        <span>and.fb@gmail.com</span>
      </div>
      <div class="footer__col-link">
        <span class="icon-"></span>
        <span>and.twitter@gmail.com</span>
      </div>
      <div class="footer__col-link">
        <span class="icon-"></span>
        <span>and.instagram@gmail.com</span>
      </div>

      <div class="footer__col-link">
        <span class="icon-"></span>
        <span>and.2021@gmail.com</span>
      </div>
      <div class="footer__col-link">
        <span class="icon-"></span>
        <span>hello_and.2021@gmail.com</span>
      </div>
    </div>
  </div>
</footer>