.brands { 
  margin-bottom: 140px;
  &__container {
  } 
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 100px;
  } 
  &__brand {
    margin: 10px;
  }
  @media (max-width: 900px) {
    &__wrapper { 
      margin: 0  ;
      justify-content: space-around;
    } 
  }
} 
