<div class="brands">
  <div class="container brands__container">
     <div class="brands__wrapper">
        <img src="assets/brand1.png" class="brands__brand" alt="">
        <img src="assets/brand2.png" class="brands__brand" alt="">
        <img src="assets/brand3.png" class="brands__brand" alt="">
        <img src="assets/brand4.png" class="brands__brand" alt="">
        <img src="assets/brand5.png" class="brands__brand" alt="">
        <img src="assets/brand6.png" class="brands__brand" alt="">
     </div>
  </div>
</div>