@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins:wght@300;400;600;700;800&display=swap");
 
$white: #fff;
$black: #000;

:root {
  --text-color: #747d85;
  --text-color1:#7D7D7D;
  --dark: #073158;
  --dark-gray:#010A1A;
  --dark-gray1:#031B34;
  --primary: #ffb905;
  --info: #fffbef;
  --secondary: #2277ff;
  --light: #f0f8ff;
  --gray: #dcdee0;
  --white: #fff;
  --black: #000;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  overflow-x: hidden;
  color: var(--text-color);
}
._lock-overflow {
  overflow: hidden;
  height: 100vh;
}
