<div class="competetors">
  <div class="container competetors__container">
      <div class="competetors__content">
        <div class="competetors__title">Be Your Own Competetor Defeat Others</div>
        <div class="competetors__text">
          <p>Knowing who your competitors are, and what they are offering, can help you to make your products, services and marketing stand out. </p>
          <p>You can also assess any threats posed by both new entrants to your market and current competitors. </p>
          <p>This knowledge will help you to be realistic about how successful you can be.</p>
        </div>
         {{>../../ui/button/index.handlebars block="intro" text="LEARN MORE" color="info"}} 
       
      </div>
      <div class="competetors__image">
         {{>../../ui/increasecard/index.handlebars block="competetors"}}
         <div class="competetors__image-point competetors__image-point_1 bluredcard">
            <div class="competetors__image-point__wrapper bluredcard__wrapper">
                <div class="competetors__image-marker">
                  <div></div>
                </div>
                <div class="competetors__image-content">
                  <div class="competetors__image-title">
                    <div class="competetors__image-value">86.5k</div>
                    <div class="competetors__image-desc">More transactions</div>
                  </div>
                  <div class="competetors__image-text">
                    43% more vs last 6 months
                  </div>
                </div>
            </div>    
            <div class="bluredcard__blur"></div>         
         </div>
         <div class="competetors__image-point competetors__image-point_2 bluredcard">
           <div class="competetors__image-point__wrapper bluredcard__wrapper">
                <div class="competetors__image-marker">
                  <div></div>
                </div>
                <div class="competetors__image-content">
                  <div class="competetors__image-title">
                    <div class="competetors__image-value">12k</div>
                    <div class="competetors__image-desc">More Company Cli</div>
                  </div>
                  <div class="competetors__image-text">
                    81% more vs last 4 months
                  </div>
                </div>
           </div>
              <div class="bluredcard__blur"></div>  
         </div>
         <div class="competetors__progress  bluredcard">
           <div class="competetors__progress-wrapper bluredcard__wrapper">
                <div class="competetors__progress-header">
                  <div class="competetors__progress-title">Monthly Progress</div>
                  <div class="competetors__progress-icon">
                    <img src="assets/list.svg" alt="">
                  </div>
                </div>
                <div class="competetors__progress-chart">
                  <img src="assets/chart4.svg" alt="">
                </div>
           </div>
          <div class="bluredcard__blur"></div>  
         </div>
        <img src="assets/ellipse4.svg" class="competetors__image-bg" alt=""/> 
          
      </div>       
  </div>
</div>