 <main class="main">
    {{>intro/index.handlebars}} 
    {{>brands/index.handlebars}} 
    {{>steps/index.handlebars}} 
    {{>sales/index.handlebars}} 
    {{>competetors/index.handlebars}}   
    {{>start/index.handlebars}} 
    {{>reviews/index.handlebars}} 
 </main>