<div class="{{block}}__menu menu">
  <div class="menu__toggler-wrapper">
    <div class="menu__toggler">
      <span></span>
    </div>
  </div>
  <nav class="menu__nav">
    <ul class="menu__list">
      <li data-section=".info" class="menu__item">About</li>
      <li data-section=".brands" class="menu__item">Menu</li>
      <li data-section=".reviews" class="menu__item">Blog</li>
      <li data-section=".footer" class="menu__item">Contact</li>
    </ul>
  </nav>
</div>