<section class="reviews">
  <div class="container reviews__container">
    <div class="reviews__main-title">
      What Our Happy Clients Say
    </div>
    <div class="reviews__main-text">
      Feedbacks by our satisfied clients help us to go forward. Here is few of
      them
    </div>
    <div class="reviews__slider swiper-slider">
      <div class="reviews__slider-wrapper swiper-wrapper">
        <div class="reviews__slide swiper-slide">
          <div class="reviews__content">
            <div class="reviews__name">Manash John</div>
            <div class="reviews__position">CEO, CUBEDOT</div>
            <div class="reviews__text">
              <p>
                Now we are one of the recognized companies after a few
                collaborations with <span>and</span> team & we recommend with a great fun &
                satisfaction
              </p>
            </div>
          </div>
          <div class="reviews__avatar-wrapper">
            <div class="reviews__avatar">
              <img src="assets/rev1.png" alt="">
            </div>
          </div>
          <div class="reviews__quote">
            <img src="assets/quote.svg" alt="">
          </div>
        </div>
         <div class="reviews__slide swiper-slide">
          <div class="reviews__content">
            <div class="reviews__name">John Doe</div>
            <div class="reviews__position">CEO, CUBEDOT</div>
            <div class="reviews__text">
              <p>
                Now we are one of the recognized companies after a few
                collaborations  
              </p>
            </div>
          </div>
          <div class="reviews__avatar-wrapper">
            <div class="reviews__avatar">
              <img src="assets/rev1.png" alt="">
            </div>
          </div>
          <div class="reviews__quote">
            <img src="assets/quote.svg" alt="">
          </div>
        </div>
      </div>
      <div class="reviews__page swiper-pagination"></div>
    </div>

  </div>
</section>