<section   class="intro">
  <div class="container intro__container">
    <div class="intro__content-wrapper">
      <div class="intro__content">
          <div class="intro__content-title">
                    In 2021 
                    Grow Business
                    With <span>and</span> Team
          </div>
          <div class="intro__content-text">
                    Growing a brand depends mostly on a commiting team who will make sure  to help you growing your own brand
          </div>
          <div class="intro__content-button">
            {{>../../ui/button/index.handlebars block="intro" text="GET STARTED" color="info"}}  
            {{>../../ui/button/index.handlebars block="intro" text="Watch Video" color="info"}}  
          </div>
          <div class="intro__content-social">
                  <div class="intro__content-social-item">
                    <span class="icon-fb"></span>
                  </div>
                  <div class="intro__content-social-item">
                    <span class="icon-in"></span>
                  </div>
                  <div class="intro__content-social-item">
                    <span class="icon-inst"></span>
                  </div>
                  <div class="intro__content-social-item">
                    <span class="icon-tw"></span>
                  </div>
          </div>
      </div>      
    </div>
    <div class="intro__image">
      <div class="intro__image-wrapper">
 <div class="intro__users bluredcard">
        <div class="intro__users-wrapper bluredcard__wrapper">
          <div class="intro__users-content">  
              <div class="intro__users-title">Happy Users</div>
              <div class="intro__users-text">Total 5millions</div>
          </div>
          <div class="intro__avatar-list">
            <img src="assets/avatar1.png" class="intro__avatar" alt="">
            <img src="assets/avatar2.png" class="intro__avatar" alt="">
            <img src="assets/avatar3.png" class="intro__avatar" alt=""> 
            <div  class="intro__avatar intro__avatar_add" ></div> 
          </div>
        </div>
         <div class="intro__users-blur bluredcard__blur"></div>
      </div>
      <div class="intro__traffic bluredcard">
        <div class="intro__traffic-wrapper bluredcard__wrapper">
            <div class="intro__traffic-image">
              <img src="assets/chart1.svg" class="intro__traffic-chart1" alt="">
              <img src="assets/chart2.svg" class="intro__traffic-chart2" alt="">
            </div>
            <div class="intro__traffic-value">
              <div>2.2</div>
              <div>Million</div>
            </div>
            <div class="intro__traffic-text">
              More traffic
            </div>
        </div>
        <div class="intro__traffic-blur bluredcard__blur"></div>
      </div>
       <div class="intro__sales bluredcard">
        <div class="intro__sales-wrapper bluredcard__wrapper">
            <div class="intro__sales-content">
              <div class="intro__sales-value">
                <div>Increased Sales</div>
                <div>75% Increased</div>
              </div>
              <div class="intro__sales-text">
                Total 5 millions
              </div>
            </div>             
             <div class="intro__sales-image">
              <img src="assets/chart3.svg" class="intro__sales-chart3" alt=""> 
            </div>
        </div>
        <div class="intro__sales-blur bluredcard__blur"></div>
      </div>
       <div class="intro__rating bluredcard">
        <div class="intro__rating-wrapper bluredcard__wrapper">
            <div class="intro__rating-addon">
              <img src="assets/like.png" alt="">
            </div>
            <div class="intro__rating-content">
              <div class="intro__rating-avatar">
                <div class="intro__rating-border">
                  <img src="assets/person.png" alt="">
                </div>
              </div>
              <div class="intro__rating-name">
                Chester
              </div>
            </div>             
             <div class="intro__rating-stars">
              <img src="assets/star.svg" class="intro__rating-star" alt=""> 
              <img src="assets/star.svg" class="intro__rating-star" alt=""> 
              <img src="assets/star.svg" class="intro__rating-star" alt=""> 
              <img src="assets/star.svg" class="intro__rating-star" alt=""> 
              <img src="assets/star.svg" class="intro__rating-star" alt=""> 
            </div>
        </div>
        <div class="intro__sales-blur bluredcard__blur"></div>
      </div>
      <img src="assets/ellipse1.svg" class="intro__image-ellipse1" alt=""> 
      <img src="assets/worker.png" class="intro__image-worker"alt="">
      </div>
      
    </div>
  </div>
</section>