<div class="start">
  <div class="container start__container">
    <div class="start__image">
      <img src="assets/start.svg" class="start__image-bg" alt="" />
    </div>
    <div class="start__content">
      <div class="start__title">Interested Enough To Get Started?</div>
      <div class="start__text">
        <p>Join our newsletter and get update to enjoy ypto 30% discount on any
          consultancy
        </p> 
      </div>
      {{>../../ui/button/index.handlebars block="intro" text="LEARN MORE" color="info"}}  
    </div>

  </div>
</div>